/include/
./RemoteSystemsTempFiles
./QHeidenhersh/QHeidenhersh.pro.user
/lib/
/tnctest/
/.metadata
./libHersh/build/
/libHersh/.project
/libHersh/.cproject
/libHershTest
/RemoteSystemsTempFiles
/bck/
/libTNC150/.cproject
/libTNC150/.project
/libTNC150/.settings/
/libHersh/.settings/
/heidenhershTest
/libHeidenhersh/.cproject
/libHeidenhersh/.project
/libHeidenhersh/.settings
/Heidenhersh/src/gitversion.cpp
/Heidenhersh/.cproject
/Heidenhersh/.project
/Heidenhersh/.settings
/Heidenhersh/*.o
/Heidenhersh/pgm.txt
/Heidenhersh/Heidenhersh
