./build-QHeidenhersh-Qt5_Desktop-Debug
./include/
./RemoteSystemsTempFiles
./QHeidenhersh/QHeidenhersh.pro.user
./lib
/tnctest/
/.metadata
/libHersh/build/
/libHersh/.project
/libHersh/.cproject
/RemoteSystemsTempFiles
